@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body{
    font-family: "Times New Roman", Times, serif;
    background: white;
    height: 100%;
 }

 .contentarea {
     margin-left: 6rem !important;
     margin-right: 6rem !important;
     padding-bottom: 10rem
 }

 .header {
     padding: 40px;
     font-size: 50 px;
     text-align: center;
     background: darkred; 
 }

 .leftcolumn {
     float: left;
     width: 80%;
     padding: 20px;
 }

 .rightcolumn {
     background-color: white;
     float: left;
     width: 20%;
     padding: 2px;
}

.cardart {
    background-color: white;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.profilepic{
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.projecttitle{
    background-color: darkred;
}

.projectdescription{
    background-color: firebrick;
}

.projectabstract{
    background-color: indianred;
}

.footer {
    padding: 20px;
    text-align: center;
    background: darkred;
    margin-top: 20px;
}

.flipvertical {
    animation: 3s anim-flipX ease infinite;
  }
  @keyframes anim-flipX {
    0% {
      opacity: 0;
      transform: rotateX(90def);
    }
    50% {
      opacity: 1;
      transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}


@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }